@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #aa57cc;
}

.container {
    max-width: 500px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 25px 15px;
    box-shadow: 0 0 7px black;
}

header h1{
    font-size: 27px;
    font-weight: 500;
}

header p{
    margin-top: 5px;
    font-size: 18px;
    color: #474747;
}

.inputs {
    margin: 20px 0 27px;
}

.inputs input{
    width: 100%;
    padding: 20px 0 0 0;
    outline: none;
    font-size: 19px;
    padding: 0 17pxb;
    border: 1px solid #999;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
    cursor: pointer;
    border-width: 2px;
}

.inputs input:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.inputs button{
    width: 100%;
    height: 56px;
    opacity: 0.8;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    pointer-events: none;
    background: #aa57cc;
    transition: 0.2s;
}

.inputs button.active{
    opacity: 1;
    pointer-events: auto;
}

.info-txt {
    display: none;
    font-size: 19px;
    text-align: center;
    margin-bottom: 18px;
}

.info-txt span{
    color: #982bc4;
}