body {
    display: flex;
    /* background: url(blue-lake-calendar-wall); */
    justify-content: center;
    align-items: center;
    /* background-attachment: fixed;
    background-size: cover; */
}

#show {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15%;
    background-color: rgb(52, 83, 83);
    width: 42%;
    padding: 30px 20px 30px 20px;
    height: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255, 0.158);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

p{
    color: rgb(147, 143, 143);
}